<p><a href="#" class="btn">Donate Now</a></p>
<p><a href="#" class="btn btn-small">Donate Now</a></p>
<p><a href="#" class="btn btn-large">Donate Now</a></p>
<p><a href="#" class="text-btn">Text Button</a></p>
<div style="position: relative; height:50px;"><a href="#" class="btn-arrow"></a></div>
<div style="position: relative; height:50px"><a href="#" class="btn-arrow btn-arrow--up"></a></div>
<div style="position: relative; height:50px"><a href="#" class="btn-arrow btn-arrow--down"></a></div>
<div style="position: relative; height:50px"><a href="#" class="btn-arrow btn-arrow--left"></a></div>
