/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
  display: inline-block;
  background: $purple;
  color: $white;
  line-height: 1;
  font-weight: 400;
  padding: $pad;
  border: 0;
  text-align: center;
  
  &:hover, &:focus {

  }

}

.btn-small {
  padding: $pad-half;
}

.btn-large {
  padding: $pad $pad-half;
  font-size: 1.4rem;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-btn {
  font-style: italic;
}

.btn-arrow {
  border: none; /* a reset for button element */
  position: absolute;
  background: transparent;
}
.btn-arrow:after {
  content: " ";
  display: block;
  width: 15px;
  height: 15px;
  background: transparent;
  border-top: 3px solid #401760;
  border-right: 3px solid #401760;
  transform: rotate(45deg);
}

.btn-arrow--up:after {
  transform: rotate(-45deg);
}
.btn-arrow--down:after {
  transform: rotate(135deg);
}
.btn-arrow--left:after {
  transform: rotate(-135deg);
}