/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
[role=main] {
  background: $white;
  border: 10px solid $gray-medium;
	padding: $pad $pad $pad-double;
	overflow: hidden;
	@extend .lc;
	@extend .cf;
}