/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
.nav {
  clear: both;
  background: $gray-medium;
}
.nav-list {
  padding: 0;
  @media all and (min-width: $bp-large-2) {
    display: flex;
    // padding resetting .lc
  }
  ul {
    padding-left: $pad-and-half;
    border-bottom: 1px solid;
  }
  li {
    li {
      border-left: $space-half solid $purple;
    }
    &:last-of-type {
      a {
        border-bottom: none;
      }
    } 
    @media all and (min-width: $bp-large-2) {
      flex: 1;
      text-align: center;
    }
    //
    // separating out menu hover functionality
    //
    @media all and (min-width: $bp-large-2) {
      position: relative;
      // reset the styles on ul
      ul {
        position: absolute;
        z-index: 1;
        top: 100%;
        padding-left: 0;
        border-bottom: none;
        li {
          border-left: none;
          white-space: nowrap;
          text-align: left;
        }
      }
      &:hover {
        background: $gray-dark;
        ul {
          display: block;
          background: $gray-dark;
          a:hover {
            background: $gray-medium;
          }
        }
      }
    }
  }

  a {
    display: block;
    padding: $pad;
    color: $purple;
    font-size: 1.4rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:hover, &:focus {
      // negate default <a> hover state
      border-bottom-width: 1px;
    }
    &:active, 
    &:hover {
      background-color: $gray-dark; 
    } 
    &:focus {
      outline: $black solid 2px;
      // Resetting original border-bottom
      border-bottom-width: 0;
    }
    @media all and (min-width: $bp-large-2) {
      border-bottom: 0;
    }
  }
}

.nav-js.nav-list {
  @media all and (max-width: $bp-large-2) {
    display: none;
  }
}
.nav-js--has-children {
  position: relative;
  @extend .cf;
  ul {
    display: none;
  }
  .nav-js__child-trigger {
    position: absolute;
    top:0;right: 0;
    width: 5rem;
    height: 4.9rem; // @todo this is dumb
    border-left: 1px solid;
    @extend .cf;
    .btn-arrow {
      position: static;
      display: block;
      width: 100%;
      height: 100%;
      padding-left: $pad-and-half;
    }
    @media all and (min-width: $bp-large-2) {
      display: none;
    }
  }
}
.nav-js--has-children-open {
  ul {
    display: block;
  }
  .nav-js__child-trigger {
    box-shadow: 1px 1px $gray-medium;
  }
  .btn-arrow {
    @extend .btn-arrow--down;
  }
}