<div class="social-share">
	<ul class="social-share-list">
		<li><a href="{{ url }}" class="btn">Like</a></li>
		<li><a href="{{ url }}" class="btn">Tweet</a></li>
		<li><a href="{{ url }}" class="btn">Email</a></li>
	</ul>
</div>