<div class="page" id="page">
  {{> organisms-header }}
  {{> molecules-block-hero}}
  <div role="main">
   <div class="l-two-col">
     <div class="l-main">
      <article class="article">
        <header class="article-header">
         <h1>About Us</h1>
        </header>
        {{> organisms-article-body }}
      </article><!--end .article-->
      {{> molecules-social-share }}
     </div><!--end l-main-->

     <div class="l-sidebar">
        {{> molecules-secondary-nav }}
     </div><!--end l-sidebar-->
   </div><!--end l-two-col-->
  </div><!--End role=main-->
  {{> organisms-footer }}
</div>