<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #e9e9e9"></span>
		<span class="sg-label">#e9e9e9</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ececec;"></span>
		<span class="sg-label">#ececec</span>
	</li>
	<li>
    <span class="sg-swatch" style="background: #f0f0f0;"></span>
    <span class="sg-label">#f0f0f0;</span>
  </li>
  <li>
		<span class="sg-swatch" style="background: #401760;"></span>
		<span class="sg-label">#401760</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000"></span>
		<span class="sg-label">#000000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff"></span>
		<span class="sg-label">#ffffff</span>
	</li>
</ul>