<!-- Begin .header -->
<header class="header cf" role="banner">
  {{> atoms-logo }}
  <div class="header__action-items">
    {{> molecules-cta-buttons }}
    <a href="#nav" class="nav-toggle nav-toggle-menu icon-menu">Menu</a>
  </div>
</header>
<!-- End .header -->
{{> molecules-primary-nav }}