<nav id="nav" class="nav">
	<ul class="nav-list lc">
		<li><a href="{{ url }}">About Us</a>
      <ul>
        <li><a href="{{ url }}">Mission Statement</a></li>
        <li><a href="{{ url }}">Board of Directors</a></li>
        <li><a href="{{ url }}">Leadership</a></li>
        <li><a href="{{ url }}">Staff</a></li>
        <li><a href="{{ url }}">Target Market Demographics</a></li>
      </ul>
    </li>
		<li><a href="{{ url }}">Process</a></li>
		<li><a href="{{ url }}">Donate</a></li>
    <li><a href="{{ url }}">Contact</a></li>
    <li><a href="{{ url }}">Partners</a></li>
    <li><a href="{{ url }}">Donors</a></li>
    <li><a href="{{ url }}">FAQ</a></li>
		<li><a href="{{ url }}">Resources</a></li>
	</ul>
</nav><!--end .nav-->
