<nav class="secondary-nav">
  <ul>
    <li><a href="{{ url }}">Mission Statement</a></li>
    <li><a href="{{ url }}">Board of Directors</a></li>
    <li><a href="{{ url }}">Leadership</a></li>
    <li><a href="{{ url }}">Staff</a></li>
    <li><a href="{{ url }}">Target Market Demographics</a></li>
  </ul>
</nav><!--end .nav-->
