<div class="block block-carousel">
  <ul class="block-carousel__items">
    {{#carousel.items}}
    <li class="block-carousel__item">
     <div class="block-carousel__image">
       {{> atoms-landscape-2030x680 }}
     </div>
     <div class="block-carousel__text">
       <h2 class="block-carousel__text-heading">{{ title }}</h2>
       <p class="block-carousel__text-description">{{ description }}</p>
     </div>
    </li>
    {{/carousel.items}}
  </ul>
</div>